/*
 *
 *  Global styling
 *
 */

/* Define CSS variables */
:root {
  /* Default lightgrey, changes to black when navbar color is inverted */
  --active-color: lightgrey;
}

/* Add CSS animations to all page elements */
* {
  transition: 0.2s;
}

/* Prevent Bootstrap modals from repositioning site content */
html {
  margin-right: calc(-1 * (100vw - 100%));
}

.navbar-collapse.justify-content-center {
  margin-right: calc(-1 * (100vw - 100%));
}

.modal-open {
  padding-right: 0 !important;
}

/* Hides x overflow to allow animations to slide in images offscreen */
body {
  overflow-x: hidden;
}

/* Animation classes for animating dividers when scrolled into view */
.divider-not-animated {
  background: none;
}

.divider-animated {
  animation-name: divider-animated-animation;
  animation-duration: 1s;
  background-image: linear-gradient(black, black);
  background-size: 100% 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
}

@keyframes divider-animated-animation {
  0% {
    background-size: 0 3px;
    background-position: 0 100%;
  }
}

/* Alternative strategy to animate dividers; keep commented*/
/* .divider-not-animated {
  visibility: hidden;
}

.divider-animated {
  width: 20%;
  height: 3px;
  background: black;
  animation-name: divider-animated-animation;
  animation-duration: 1s;
}

@keyframes divider-animated-animation {
  0% {
    width: 0;
  }
} */

/*
 *
 *  Navbar styling
 *
 */

/* Show highlighted active state only on desktop */
@media screen and (max-width: 767px) {
  a.active {
    text-decoration: underline;
    transition: 0s;
  }
}

@media screen and (min-width: 768px) {
  a.active {
    background-color: var(--active-color);
    border-radius: 5px;
  }

  a.nav-link:hover {
    text-decoration: underline;
  }
}

/*
 *
 *  Styling for About
 *
 */

/* Animation classes for animating images when scrolled from right into view */
.right-not-animated {
  visibility: hidden;
}

.right-animated {
  animation-name: right-animated-animation;
  animation-duration: 1s;
}

@keyframes right-animated-animation {
  0% {
    opacity: 0;
    transform: translate(500px, 0px);
  }
}

/*
 *
 *  Styling for Projects
 *
 */

.project-header {
  align-items: center;
  display: flex;
  flex-direction: row;
}

/* Hide/show text when on mobile/desktop */
@media screen and (max-width: 767px) {
  .mobile-text {
    display: default;
  }

  .desktop-text {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .mobile-text {
    display: none;
  }

  .desktop-text {
    display: default;
  }
}

/*
 *
 *  Styling for Hobbies
 *
 */

/* Animation classes for animating images when scrolled from left into view */
.left-not-animated {
  visibility: hidden;
}

.left-animated {
  animation-name: left-animated-animation;
  animation-duration: 1s;
}

@keyframes left-animated-animation {
  0% {
    opacity: 0;
    transform: translate(-500px, 0px);
  }
}
