/* Prevent Bootstrap modals from repositioning site content */
/* html {
  margin-right: calc(-1 * (100vw - 100%));
}

.navbar-collapse.justify-content-center {
  margin-right: calc(-1 * (100vw - 100%));
}

.modal-open {
  padding-right: 0 !important;
} */

/* Hides x overflow to allow animations to slide in images offscreen */
body {
  overflow-x: hidden;
}
